<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<script type="text/javascript"> 
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#title").formValidator({onshow:"请输入行业名称",onfocus:"行业名称应该在2-30个汉字之间"}).inputValidator({min:4,max:90,onerror:"行业名称应该在2-30个汉字之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/mis/industry/check_filed_have_ajax/'}>",
		data :"field=title&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "行业名称重复",
		onwait : "请稍后..."
	}).defaultPassed();
})
//-->
</script>

<div class="pad_10">
<div class="common-form">
<form name="myform" action="<{site_url url='/mis/industry/industry_edit_do/'}>" method="post" id="myform">
<table width="100%" class="table_form contentWrap">
<tr>
<td width="80">行业名称</td> 
<td><input type="text" name="info[title]"  class="input-text wid200" id="title" value="<{$info['title']}>"></td>
</tr>
</table>
    <div class="bk15"></div>
    <input type="hidden" value="<{$info['id']}>" name="id">
    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
</form>
</div>
</div>
<{include file="../common/footer.html"}>