<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
    <a class="add fb" href="javascript:window.top.art.dialog({id:'add',iframe:'<{site_url url='/mis/mismsg/mismsg_add/'}>?', title:'添加推送信息', width:'650', height:'380', lock:true}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});void(0);"><em>添加推送信息</em></a> <a href="<{site_url url='/mis/mismsg/index/'}>" class="on"><em>推送信息列表</em></a></div>
</div>
<style type="text/css"> 
    html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/mis/mismsg/index/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
        <tr>
        <td>
        <div class="explain-col">   
                推送时间 <{$search_arr['time_start']}> <{$search_arr['time_end']}>
                <{$search_arr['industry_sel']}>
                <input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
                <input type="checkbox" value="1" name="pushed" <{if $search_arr['pushed']==1}>checked<{/if}>> 已推送
                <input type="checkbox" value="1" name="status" <{if $search_arr['status']==1}>checked<{/if}>> 已审核
                <input type="submit" name="search" class="button" value="搜索" />
                注:通过审核、已推送状态的信息无法删除
        </div>
        </td>
        </tr>
    </tbody>
</table>
<input type="hidden" value="1" name="show">
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="16"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="80">ID</th>
            <th width="120">推送行业</th>
            <th >信息标题</th>
            <th width="60">推送ID</th>
            <th width="60">推送状态</th>
            <th width="80">推送时间</th>
            <th width="80">录入时间</th>
            <th width="60">审核状态</th>
            <th width="100">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
            <{foreach from=$list_data item=row}>        
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['id']}>" type="checkbox"></td>
            <td width="80" align="center"><{$row['id']}></td>
            <td align="center"><{$industry_list[$row['industry']]}></td>
            <td align="left"><{$row['title']}></td>
            <td align="center"><{$row['rel_id']}></td>
            <td align="center"><{if $row['pushed']==1}><font color="#008000">已推送</font><{else}>待推送<{/if}></td>
            <td align="center"><{date('Y-m-d h:i:s',$row['time_push'])}></td>
            <td align="center"><{date('Y-m-d h:i:s',$row['time_create'])}></td>
            <td align="center"><a href="<{site_url url='/mis/mismsg/mismsg_status_one/'}>?id=<{$row['id']}>"><{if $row['status']==1}><font color="#008000">是</font><{else}>否<{/if}></a></td>
            <td align="center">
             <a href="javascript:edit(<{$row['id']}>,'<{$row['title']}>')">修改</a> | 
             <{if $row['status']==1 || $row['pushed']==1}><font color="#cccccc">删除</font><{else}><a href="javascript:;" onclick="delete_one(this,'<{$row['id']}>')">删除</a><{/if}>
            </td>
            </tr>
            <{foreachelse}>
            <tr>
            <td colspan="9">没有数据</td>
            </tr>
            <{/foreach}>
        </tbody>
    </table>
    <div class="btn">
        <label for="check_box">全选/取消</label>
        <input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
        <input type="hidden" value="1" name="dosubmit">
        <input type="button" class="button" value="审核" onclick="myform.action='<{site_url url='/mis/mismsg/mismsg_status/'}>';return change_more_status();"/>
        <input type="button" class="button" value="删除" onclick="myform.action='<{site_url url='/mis/mismsg/mismsg_del/'}>';return delete_more()"/>
    </div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function delete_one(obj,aid){
    window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/mis/mismsg/mismsg_del_one_ajax/'}>?&id='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) $(obj).parent().parent().fadeOut("slow");
            })
         },
    function(){});
};

function delete_more(){
    if(confirm('确认删除吗？')) $('#myform').submit();
}

function change_more_flag(){
    if(confirm('确认对所选记录推荐状态变更吗？')) $('#myform').submit();
}

function change_more_status(){
    if(confirm('确认对所选记录审核状态变更吗？')) $('#myform').submit();
}

function edit(id, name) {
    window.top.art.dialog({id:'edit'}).close();
    window.top.art.dialog({title:'编辑推送信息《'+name+'》',id:'edit',iframe:'<{site_url url='/mis/mismsg/mismsg_edit/'}>?id='+id,width:'650',height:'380'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
}
//-->
</script>
<{include file="../common/footer.html"}>
