/* CSS Reset
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    width: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    padding: 0;
    font-size: 12px;
    margin: 0 auto;
    background-color: #ccc;
}

.home {
    height: 100%;
    background-color: #eeeeee;
}

body#page {
    height: auto;
}

.clear {
    clear: both;
}

a {
    text-decoration: none;
    color: #8A50C1;
}

.order {
    width: 94%;
    height: auto;
    border: 1px solid #e3e3e3;
    margin: 0 10px 0 10px;
    background: #fff;
}

.order ul li {
    display: block;
    padding: 20px;
    border-bottom: solid 1px #e3e3e3;
    overflow: hidden;
}

.order ul li:active{

    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.order ul li .img {
    float: left;
    width: 35%;
    overflow: hidden;
}

.order ul li .desc {
    float: left;
    padding-left: 4%;
    width: 60%;
}

.order ul li .desc h1 {
    font-size: 15px;
    font-weight: normal;
}

.order ul li .desc h1 a {
    color: #2b2b2b;
}

.order ul li .desc p {
    font-size: 12px;
    color: #b5b5b5;
    line-height: 24px;
}

#header {
    padding: 20px 10px 0 10px;
}

#header ul li {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}
#header ul li  a img{ width: 100%;}