/*
div{overflow:hidden; *display:inline-block;}div{*display:block;}
.login_box{background:url(../images/admin_img/login_bg.jpg) no-repeat; width:602px; height:416px; margin:auto; overflow:hidden;}
.login_iptbox{margin-top:295px;*margin-top:297px; height: 26px; line-height:26px; margin-left: 68px;}
.login_iptbox .ipt{border:none; margin-top: 4px; height: 20px; width: 90px; margin-right:62px; *margin-right:60px; background:none;font-size:12px;}
.login_iptbox img{ cursor:pointer;}
.login_iptbox .ipt_reg{margin-left:12px;width:46px; margin-right:16px;}
.login_tj_btn{ background:url(../images/admin_img/login_dl_btn.jpg) no-repeat 0px 0px; width:52px; height:24px; margin-left:16px; _margin-left:8px; border:none; cursor:pointer; padding:0px; float:right;margin-right:20px;
margin-top:2px;}
.cr{ margin-top:22px;font-size:12px;font-style:inherit;text-align:center;color:#ccc;}
.login_box{position: fixed;top: 25%;left: 50%; margin:0 0 0 -301px;_position:absolute;}
*/

div{overflow:hidden; *display:inline-block;}div{*display:block;}
#login_box{ display:block; margin-left:10px;}
.login_box{background:url(../images/admin_img/login_bg.jpg) no-repeat; width:602px; height:416px; overflow:hidden; position:absolute; left:50%; top:50%; margin-left:-301px; margin-top:-208px;}
.login_iptbox{bottom:90px;_bottom:72px;color:#FFFFFF;font-size:12px;height:30px;left:50%;
margin-left:-280px;position:absolute;width:560px; overflow:visible;}
.login_iptbox .ipt{height:24px; width:170px; margin-right:10px; color:#fff; background:url(../images/admin_img/ipt_bg2.jpg) repeat-x; *line-height:24px; border:none; color:#000; overflow:hidden;}
.login_iptbox label{ *position:relative; *top:-6px;}
.login_iptbox .ipt_reg{margin-left:12px;width:46px; margin-right:16px; background:url(../images/admin_img/ipt_bg2.jpg) repeat-x; *overflow:hidden;text-align:left;padding:2px 0 2px 5px;font-size:16px;font-weight:bold;}
.login_tj_btn{ background:url(../images/admin_img/login_dl_btn2.jpg) no-repeat 0px 0px; width:55px; height:24px; margin-right:16px; border:none; cursor:pointer; padding:0px; float:right;}
.yzm{position:absolute; background:url(../images/admin_img/login_ts140x89.gif) no-repeat; width:140px; height:89px;right:56px;top:-96px; text-align:center; font-size:12px; display:none;}
.yzm a:link,.yzm a:visited{color:#036;text-decoration:none;}
.yzm a:hover{color:#C30;}
.yzm img{cursor:pointer; margin:4px auto 7px; width:130px; height:50px; border:1px solid #fff;}
.cr{font-size:12px;font-style:inherit;text-align:center;color:#ccc;width:100%; position:absolute; bottom:58px;}
.cr a{color:#ccc;text-decoration:none;}