<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>

<div class="pad_10">
<div class="common-form">
<table width="100%" class="table_form contentWrap">
<tr>
<td width="80">用户昵称</td> 
<td><input type="text" name="info[sname]" disabled class="input-text" id="sname" value="<{$info['sname']}>"></td>
</tr>
<tr>
<td>用户头像</td> 
<td><{if $info['avatar']}><img src="<{$info['avatar']}>"><{/if}></td>
</tr>
<tr>
<td>身份</td> 
<td><input type="text" name="ukind_verify" disabled class="input-text" id="umobile" value="<{$info['ukind_verify']}>"></td>
</tr>
<tr>
<td>手机号</td> 
<td><input type="text" name="umobile" disabled class="input-text" id="umobile" value="<{$info['umobile']}>"></td>
</tr>
<tr>
<td>城市</td> 
<td><input type="text" name="info[city]" disabled class="input-text" id="uemail" value="<{$info['city']}>" ></td>
</tr>
<tr>
<td>目标学校</td> 
<td><input type="text" name="info[school]" disabled class="input-text" id="uemail" value="<{$info['school']}>" ></td>
</tr>

</table>
<div class="bk15"></div>
</div>
</div>
<{include file="../common/footer.html"}>