<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="<{site_url url='/member/user/sms_list/'}>" class="on"><em>短信列表</em></a>    
    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/member/user/sms_list/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
			    手机号：	
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
				<input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="80">SID</th>
            <th width="80">UID</th>
            <th width="80">手机号</th>
            <th width="80">短信校验码</th>
            <th width="80">短信自增标识</th>
            <th width="80">验证成功后操作</th>
            <th width="80">状态</th>
            <th width="80">发送短信成功后置为有效</th>
            <th width="80">IP地址字符串</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>		
            <tr>
            <td align="center"><{$row['sid']}></td>
            <td align="center"><{$row['uid']}></td>
            <td align="center"><{$row['mobile']}></td>
            <td align="center"><{$row['verifycode']}></td>
            <td align="center"><{$row['identifier']}></td>
            <td align="center"><{$row['operate']}></td>
            <td align="center"><{$row['status']}></td>
            <td align="center"><{$row['valid']}></td>
            <td align="center"><{$row['ip']}></td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="10">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function delete_one(obj,aid){
	window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
	function(){
	$.get('<{site_url url='/member/user/user_del_one_ajax/'}>?&uid='+aid+'&wb_hash='+wb_hash,function(data){
				if(data == 1) $(obj).parent().parent().fadeOut("slow");
			})
		 },
	function(){});
};

function delete_more(){
	if(confirm('确认删除吗？')) $('#myform').submit();
}

function delete_more_like(){
	if(confirm('确认对所选记录伪删除变更吗？')) $('#myform').submit();
}

function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑用户《'+name+'》',id:'edit',iframe:'<{site_url url='/member/user/user_edit/'}>?uid='+id,width:'600',height:'350'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
	
}
//-->
</script>
<{include file="../common/footer.html"}>
