<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <!-- <a class="add fb" href="javascript:window.top.art.dialog({id:'add',iframe:'<{site_url url='/member/user/user_add/'}>?', title:'添加会员', width:'600', height:'350', lock:true}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});void(0);"><em>添加会员</em></a>  -->
        <a href="<{site_url url='/member/user/index/'}>" class="on"><em>会员列表</em></a>    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/member/user/index/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
			    关键词：	
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
				<input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="16"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="30">UID</th>
            <th width="50">微信号</th>
            <th width="50">微信昵称</th>
            <th width="50">公司名</th>
            <th width="50">手机号</th>
            <th width="50">邮箱</th>
            <th width="50">头像链接</th>
            <th width="50">用户类型</th>
            <th width="50">广告主等级</th>
            <th width="50">支付宝帐号</th>
            <th width="120">注册时间</th>
            <th width="120">更新时间</th>
            <th width="140">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>		
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['uid']}>" type="checkbox"></td>
            <td align="center"><{$row['uid']}></td>
            <td align="center"><{$row['wx_name']}></td>
            <td align="center"><{$row['nick_name']}></td>
            <td align="center"><{$row['cmpy_name']}></td>
            <td align="center"><{$row['phone']}></td>
            <td align="center"><{$row['email']}></td>
            <td align="center"><{if $row['url']}><img width=45 src="<{$row['url']}>" /><{/if}></td>
            <td align="center"><{$user_type_arr[$row['type']]}></td>
            <td align="center"><{$row['level']}></td>
            <td align="center"><{$row['zfb_account']}></td>
            <td align="center"><{date("Y-m-d H:i:s", $row['ctime'])}></td>
            <td align="center"><{date("Y-m-d H:i:s", $row['utime'])}></td>
            <!-- 
            <td align="center"><{if $row['ukind']==1}><font color="#D75145">是</font><{else}><font color="#008000">否</font><{/if}></td>
			<td align="center" id="user_status"><{if $row['status'] == 1}><font color="#008000">已通过</font><{elseif $row['status'] == 2}><font color="#D75145">未通过</font><{elseif $row['status'] == 0}>未审核<{elseif $row['status'] == -1}>已删除<{/if}></td>
			<td align="center"><{if $row['ukind_verify'] == 1}><span style="color:green"></span><{else}><span style="color:red">未认证</span><{/if}></td>
             -->
            <td align="center">
                <a href="javascript:edit(<{$row['uid']}>,'<{$row['wx_name']}>')">修改</a> | 
			    <a href="javascript:view(<{$row['uid']}>,'<{$row['wx_name']}>')">查看详情</a> | 
			    <a href="javascript:;" onclick="del_one(this,'<{$row['uid']}>')">删除</a>
            </td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="13">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
		<input type="button" class="button" value="批量删除" onclick="delete_more();">
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

/*
function delete_one(obj,aid){
	window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
	function(){
	$.get('<{site_url url='/member/user/user_del_one_ajax/'}>?&uid='+aid+'&wb_hash='+wb_hash,function(data){
				if(data == 1) $("#user_status").html("已删除");
			})
	},function(){});
};
*/

function del_one(obj,aid) {
    window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/member/user/user_del_one_ajax/'}>?&uid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) $(obj).parent().parent().fadeOut("slow");
            })
         },
    function(){});
}

function delete_more(){
	if(confirm('确认删除吗？')) {
		myform.action='<{site_url url='/member/user/user_delete/'}>';
		$('#myform').submit();
	}
}

function delete_more_like(){
	if(confirm('确认对所选记录伪删除变更吗？')) $('#myform').submit();
}

function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑用户《'+name+'》',id:'edit',iframe:'<{site_url url='/member/user/user_edit/'}>?id='+id,width:'600',height:'350'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
}
function view(id, name) {
    window.top.art.dialog({id:'view'}).close();
    window.top.art.dialog({title:'查看用户《'+name+'》',id:'view',iframe:'<{site_url url='/member/user/user_view/'}>?id='+id,width:'600',height:'350',cancelVal:'关闭',cancel:true}); 
}
//-->
</script>
<{include file="../common/footer.html"}>
