<{include file="../common/header.html"}>
<link rel="stylesheet" type="text/css" href="/public/css/secretary.css">
<style type="text/css"> 
    html{_overflow-y:scroll}
</style>
<div id="talk_list_box">
    <ul id="talk_list"></ul>
</div>
<div id="msg_wirte">
    <textarea name="content" id="msg_content" placeholder="请输入聊天内容"> </textarea>
    <button id="msg_send" type="button" sending="0">提交</button>
</div>
<script type="text/javascript"> 
<!--
//显示历史记录
var talk_poll;
var user_talk_uid=<{$uid}>;
var counts=0;
var pretime=0;
var lasttime=0;
var lock_time=0;

function next_user_talk(){
    var data_str='';
    var param_str='&uid='+user_talk_uid+'&vtime='+lasttime;
    // 此处新增正在加载效果
    $.getJSON('<{site_url url='/tool/secretary/user_talk_ajax/'}>?type=1&num=5&times='+new Date().getTime()+param_str+'&callback=?', function(result){
      if (result.errno == 0) {

        //删除临时消息
        $("#talk_list .user_last_msg").remove();
        
        //新消息列表
        var user_face=result.uinfo.avatar!=''?'<img src="'+result.uinfo.avatar+'">':'';
        var sys_face=result.sinfo.avatar!=''?'<img src="'+result.sinfo.avatar+'">':'';
        
        //新增用户列表
        $.each(result.data.list,function(i,item){
            //更新最新时间戳
            if(lock_time==0){
                pretime=item.ctime;
                lock_time=1;
                $("#talk_list_box").prepend('<section class="show_tips" onclick="pre_user_talk();">历史记录…</seciton>');
            }
            
            if(result.uinfo.uid==item.from_uid){
                data_str='<li class="user_msg"><span>'+user_face+'</span><p>'+item.content+'<i></i></p><br class="clear_float"></li>';
            }else{
                data_str='<li class="sys_msg"><span>'+sys_face+'</span><p>'+item.content+'<i></i></p><br class="clear_float"></li>';
            }
            
            $("#talk_list").append(data_str);

            lasttime=item.ctime;
        });
      }
    });
    //考虑在有新消息的时候，滚动到底部，但若正在查看历史记录则不科学
    talk_poll=setTimeout("next_user_talk()",10000);
}


function pre_user_talk(){
    var data_str='';
    var param_str='&uid='+user_talk_uid+'&vtime='+pretime;
    // 此处新增正在加载效果
    $.getJSON('<{site_url url='/tool/secretary/user_talk_ajax/'}>?type=0&num=5&times='+new Date().getTime()+param_str+'&callback=?', function(result){
        $("#talk_list_box .show_tips").remove();
        if (result.errno == 0) {

            //新消息列表
            var user_face=result.uinfo.avatar!=''?'<img src="'+result.uinfo.avatar+'">':'';
            var sys_face=result.sinfo.avatar!=''?'<img src="'+result.sinfo.avatar+'">':'';
            var show_tips_str='';

            //新增用户列表
            $.each(result.data.list,function(i,item){
                if(result.uinfo.uid==item.from_uid){
                    data_str='<li class="user_msg"><span>'+user_face+'</span><p>'+item.content+'<i></i></p><br class="clear_float"></li>';
                }else{
                    data_str='<li class="sys_msg"><span>'+sys_face+'</span><p>'+item.content+'<i></i></p><br class="clear_float"></li>';
                }
                $("#talk_list").prepend(data_str);
                pretime=item.ctime;
            });
            if(counts<4){
                show_tips_str='<section class="show_tips" onclick="pre_user_talk();">加载更多…</seciton>';
                counts++;
            }else{
                show_tips_str='<section class="show_tips" onclick="talk_history_all();">查看全部</section>';
            }
        }else{
            show_tips_str='<section class="show_tips">无历史记录</section>';
        }
        $("#talk_list_box").prepend(show_tips_str);
    });
}


//查看更多通话记录

function talk_history_all() {
    window.top.art.dialog({id:'talk_history_all'}).close();
    window.top.art.dialog({title:'查看历史记录',id:'talk_history_all',iframe:'<{site_url url='/tool/secretary/user_message/'}>/?uid=<{$uid}>&uid_sec=<{$uid_sec}>',width:'100%',height:'100%',cancelVal:'关闭',cancel:true});
}

$(function(){
    //初始化对话信息
    if(user_talk_uid==0){
        $("#talk_list_box").prepend('<li><section class="show_tips">请选择左侧用户</seciton></li>');
    }else{
        next_user_talk();
    }
    
    $("#msg_send").hover(
      function () {
        $(this).css({'background':'#299FBE'});
      },
      function () {
        $(this).css({'background':'#FFFFFF'});
      }
    );

    $("#msg_send").click(function(event) {
        var content=$("#msg_content").val();
        var sending=$("#msg_send").attr('sending');
        if(content!='' && user_talk_uid!=0 && sending=='0'){
            $("#msg_send").attr('sending',1);
            $.post('<{site_url url='/tool/secretary/send_msg/'}>?times='+new Date().getTime(),{uid:user_talk_uid,content:content}, function(result,textStaus){
                    if(result.errno == 0){   
                        var sys_face=result.sinfo.avatar!=''?'<img src="'+result.sinfo.avatar+'">':'';
                        var data_str='<li class="sys_msg user_last_msg"><span>'+sys_face+'</span><p>'+result.data.content+'<i></i></p><br class="clear"></li>';
                        $("#msg_content").val('');
                        $("#talk_list").append(data_str);
                    }else{
                        $("#msg_send").val('重新发送');
                    }
                    $("#msg_send").attr('sending',0);
            },"json");
        }
    });
})
//-->
</script>
<{include file="../common/footer.html"}>