<{include file="../common/header.html"}>
<style type="text/css">
html,body{ background:#e2e9ea}
#addContent{width: 95%; height: 96%;}
#user_talk{height: 90%;}
#addContent .col-left{
}
</style>
<div class="addContent" id="addContent">
    <div class="crumbs">小秘书工作台</div>
    <div class="col-left">
        <div class="col-1">
            <div class="content pad-6" id="user_wait">
                <iframe name="iframe_user_wait" id="iframe_user_wait" src="<{base_url('tool/secretary/user_wait')}>" frameborder="false" scrolling="auto" style="border:none;" width="100%" height="100%" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
    <a title="展开与关闭" class="r-close" hidefocus="hidefocus" style="outline-style: none; outline-width: medium;" id="RopenClose" href="javascript:;"><span class="hidden">展开</span></a>
    <div class="col-auto">
        <div class="col-1">
            <div class="content pad-6" id="user_talk">
                <iframe name="iframe_user_talk" id="iframe_user_talk" src="<{base_url('tool/secretary/user_talk')}>" frameborder="false" scrolling="auto" style="border:none;" width="100%" height="100%" allowtransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function change_talk_uid(uid){
        $("#iframe_user_talk").attr('src',"<{base_url('tool/secretary/user_talk')}>?uid="+uid);
    }
    $(function(){
        var home_page=$(window).height();
        $("#user_wait,#user_talk").height(home_page-100);
    });
</script>
</body>
</html>