<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
    <a href="<{site_url url='/tool/secretary/history/'}>" class="on"><em>咨询记录列表</em></a>
    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/tool/secretary/history/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
                用户UID 
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
                <input type="checkbox" value="1" name="is_new" <{if $search_arr['is_new']==1}>checked<{/if}>> 新消息
				<input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="1" name="show">
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="80">用户名</th>
            <th width="80">沟通时间</th>
            <th width="80">小秘书</th>
            <th width="80">回复时间</th>
            <th width="80">消息状态</th>
            <th width="100">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$user_data item=row}>		
            <tr>
            <td width="120" align="center"><{$row['name']}>(<{$row['uid']}>)</td>
            <td align="center"><{date('Y-m-d H:i:s',$row['time_user'])}></td>
            <td align="center"><{$row['name_sec']}>(<{$row['uid_sec']}>)</td>
            <td align="center"><{date('Y-m-d H:i:s',$row['time_sec'])}></td>
            <td align="center">
                <{if $row['is_new']==1}>
                    <font color="#A6E22E">新消息</font>
                <{else}>
                    <font color="#cccccc">已回复</font>
                <{/if}>
            </td>
            <td align="center">
             <a href="javascript:view_msg(<{$row['uid']}>,<{$row['uid_sec']}>,'<{$row['name']}>-<{$row['name_sec']}>')">查看对话</a>
            </td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="6">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--
function view_msg(uid,uid_sec,name) {
	window.top.art.dialog({id:'view_msg'}).close();
	window.top.art.dialog({title:'查看对话《'+name+'》',id:'view_msg',iframe:'<{site_url url='/tool/secretary/user_message/'}>?uid='+uid+'&uid_sec='+uid_sec,width:'100%',height:'100%',cancelVal:'关闭',cancel:true});//.button({name:'登录',focus: true}, {name: '取消'});
}
//-->
</script>
<{include file="../common/footer.html"}>
