<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
    <a href="<{site_url url='/tool/secretary/user_message/'}>?uid=<{$uid}>&uid_sec=<{$uid_sec}>" class="on"><em>沟通列表</em></a>
    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
    .message_box{ height: 24px; line-height: 24px; display: block; overflow: hidden;}
</style>
<div class="pad_10">

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="100">信息ID</th>
            <th width="120">发起用户</th>
            <th width="120">接收用户</th>
            <th width="120">操作时间</th>
            <th>发布内容(双击查看更多内容)</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$msg_data item=row}>		
            <tr>
            <td align="center"><{$row['mid']}></td>
            <td align="left"><{$user_list[$row['from_uid']]['sname']}>(<{$row['from_uid']}>)</td>
            <td align="center"><{date('Y-m-d H:i:s',$row['ctime'])}></td>
            <td align="center"><{$user_list[$row['to_uid']]['sname']}>(<{$row['to_uid']}>)</td>
            <td align="center" class="message_box" data-id="<{$row['mid']}>"><{str_cut($row['content'],150,'')}></td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="5">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--
function view_msg_one(id) {
    window.top.art.dialog({id:'view_msg_one'}).close();
    window.top.art.dialog({title:'私信内容查看',id:'view_msg_one',iframe:'<{site_url url='/tool/secretary/user_message_one/'}>?id='+id,width:'100%',height:'100%',cancelVal:'关闭',cancel:true});
}
$(".message_box").dblclick(function(event) {
    var msg_id=$(this).attr('data-id');
    view_msg_one(msg_id);
});

//-->
</script>
<{include file="../common/footer.html"}>
