<{include file="../common/header.html"}>
<link rel="stylesheet" type="text/css" href="<{$sys_config['exten_pub_path']}>css/secretary.css">
<style type="text/css"> 
    html{_overflow-y:scroll}
</style>
<div id="user_list_tab">
    <span class="line on">当前咨询</span>
    <span class="history">历史对话</span>
</div>
<div id="user_list_box">
    <ul id="user_list_line" vtime="0"></ul>
    <ul id="user_list_history" vtime="0" count="0" style="display:none;"></ul>
</div>
<script type="text/javascript"> 
<!--

//显示当前咨询用户
var line_poll;
function load_user_line(){
    var data_str='';
    var param_str='&vtime='+$("#user_list_line").attr('vtime');
    // 此处新增正在加载效果
    $.getJSON('<{site_url url='/tool/secretary/user_wait_ajax/'}>?times='+new Date().getTime()+param_str+'&callback=?', function(result){
      if (result.errno == 0 && result.data.total>0) {

        //更新最新时间戳
        $("#user_list_line").attr("vtime",result.data.last_time);

        //遍历旧数据
        $.each(result.data.user_old,function(i,item){
            $('#user'+item+' .show_news').show();
        });

        //新增用户列表
        $.each(result.data.user_new,function(i,item){
            data_str+='<li id="user'+result.data.data[item]['uid']+'" data-id="'+result.data.data[item]['uid']+'" class="user_item"><span class="user_avatar"><img src="'+result.data.data[item]['avatar']+'" width="30" height="30"></span><span class="user_name">'+result.data.data[item]['sname']+'</span><span class="show_news"></span><span class="close_item"></span></li>';
        });
      }else{
        //data_str='<li><section class="show_tips">无新对话信息</section></li>';
        data_str='';
      }
      $("#user_list_line").append(data_str);
    });
    line_poll=setTimeout("load_user_line()",10000);
}

//显示历史对话记录
function load_user_history(){
    var data_str='';
    var param_str='&vtime='+$("#user_list_history").attr('vtime');
    var count=parseInt($("#user_list_history").attr('count'));
    count=(count+1);
    // 此处新增正在加载效果
    $.getJSON('<{site_url url='/tool/secretary/user_history_ajax/'}>?times='+new Date().getTime()+param_str+'&callback=?', function(result){
      if (result.errno == 0 && result.data.total>0) {
        //更新最新时间戳
        $("#user_list_history").attr("vtime",result.data.last_time);

        //新增用户列表
        $.each(result.data.data,function(i,item){
            data_str+='<li id="user'+item['uid']+'" data-id="'+item['uid']+'" class="user_item"><span class="user_avatar"><img src="'+item['avatar']+'" width="30" height="30"></span><span class="user_name">'+item['sname']+'</span></li>';
        });
        if(count<4){
            data_str+='<li><section class="show_tips" onclick="load_user_history();">加载更多…</seciton></li>';
            $("#user_list_history").attr('count',count);
        }else{
            data_str='<li><section class="show_tips" onclick="history_view();">查看全部</section></li>';
        }
      }else{
        data_str='<li><section class="show_tips" onclick="load_user_history();">单击重新加载…</seciton></li>';
      }
      $("#user_list_history .show_tips").parent().remove();
      $("#user_list_history").append(data_str);
    });
}

//查看更多通话记录

function history_view() {
    window.top.art.dialog({id:'history_view'}).close();
    window.top.art.dialog({title:'查看沟通记录',id:'history_view',iframe:'<{site_url url='/tool/secretary/history/'}>/?',width:'100%',height:'100%',cancelVal:'关闭',cancel:true});
}
//-->

$(function(){
    
    $("#user_list_tab span").click(function(event) {
        $(this).addClass('on');
        $(this).siblings().removeClass('on');
    });

    $("#user_list_box .user_item").live('click',function(event) {
        var uid=$(this).attr('data-id');
        parent.window.change_talk_uid(uid);
        $(this).find(".show_news").hide();
    });

    $("#user_list_box .close_item").live('click',function(event) {
        var param_str='&uid='+$(this).parent().attr('data-id');
        $.getJSON('<{site_url url='/tool/secretary/user_wait_remove_ajax/'}>?times='+new Date().getTime()+param_str+'&callback=?', function(result){
          if (result.errno == 0) {
            $(this).parent().remove();
          }
        });
        event.stopPropagation();
    });

    $("#user_list_tab .line").click(function(event) {
        //变更显示窗体
        $("#user_list_history").hide();
        $("#user_list_line").show();
        //初始化列表
        load_user_line();
    });

    $("#user_list_tab .history").click(function(event) {
        //停止用户消息轮询
        clearTimeout(line_poll);
        //变更显示窗体
        $("#user_list_line").hide();
        $("#user_list_history").show();
    });
    
    //初始化咨询列表
    load_user_line();
    //初始化历史列表
    load_user_history();
})
//-->
</script>
<{include file="../common/footer.html"}>