<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<script src="<{$sys_config['exten_pub_path']}>js/uploadify/jquery.uploadify.min.js?ver=<{$random_version}>" type="text/javascript"></script>
<link href="<{$sys_config['exten_pub_path']}>js/swfupload/swfupload.css" rel="stylesheet" type="text/css" />
 <link href="<{$sys_config['exten_pub_path']}>css/uploadify.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" charset="utf-8" src="<{$sys_config['exten_pub_path']}>editor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<{$sys_config['exten_pub_path']}>editor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="<{$sys_config['exten_pub_path']}>editor/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript"> 
<!--
	$(function(){
		$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	})
	$(function() {
        $('#img').uploadify({
            //'formData'     : {
                //'room_id' : '<{$room_id}>',
            //},
            'fileObjName':'pic',
            'debug'    : false,
            'fileTypeExts':'*.jpg;*.JPG;*.png;*.PNG;*.gif;*.GIF',
            'fileSizeLimit':300, 
            'sizeLimit':300, 
            'width':'75',//选择文件按钮的宽度
            'height':'23',//选择文件按钮的高度
            'buttonText':'上传图片',
            'swf'      : '<{$sys_config['exten_pub_path']}>images/uploadify/uploadify.swf',
            'uploader' : '/common/upload/uploadify',
            onUploadError:function(file,errorCode,errorMsg){
                alert('上传错误：错误代码：'+obj2string(errorCode)+'错误消息：'+obj2string(errorMsg));
            },
			onUploadError:function(file, errorCode, errorMsg, errorString){
				alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
			},
            onUploadSuccess:function(file,r,response){
				eval("var obj="+r);
                console.log(obj.data.pic);
				if (response && obj.ret==1) {
                $("#fsUploadProgress").append('<li><input type="checkbox" name="pic[]" value="'+obj.data.pic+'" checked><img  width=90 src="'+obj.data.pic+'"/></li>');  
				} else {
					alert(obj.msg);
				}
            }
        });
    });
    
    
//-->
</script>

<div class="pad_10">
	<div class="common-form">
		<form name="myform" action="<{site_url url='/activity_content/activity/activity_add_do/'}>" enctype="multipart/form-data"  method="post" id="myform">
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td width="80">名称</td>
					<td><input type="text" name="info[title]"  class="input-text wid300" value=""></td>
				</tr>
				<tr>
					<td width="80">作者</td>
					<td><input type="text" name="info[author]"  class="input-text wid300" value=""></td>
				</tr>
				<tr>
                    <td width="80">简介</td>
                    <td>
                        <input type="text" name="info[brief]"  class="input-text wid300" value="">
                    </td>
                </tr>
				<tr>
                    <td width="80">内容</td>
                    <td>
                        <script id="editor" type="text/plain" style="width:670px;height:250px;"></script>

                    </td>
                </tr>
			</table>
		    <div class="bk15"></div>
		    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
		</form>
	</div>
</div>

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    function doBlur(){
        um.blur();
        $("#s_content").val(editor.getContent());
    }

    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        return arr.join("\n");
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
</script>
<{include file="../common/footer.html"}>
