<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon.png"/>
    <link rel="apple-touch-startup-image" href="images/apple-touch-startup-image.png"/>
    <meta name="author" content="sun"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/public/css/activity_content.css"/>
</head>
<body>
<div class="rich_media_title"><{$data['title']}></div>
<div class="rich_media_meta_list">
    <!--<em id="post-date" class="rich_media_meta rich_media_meta_text">2015-05-30</em>-->
    <em class="rich_media_meta rich_media_meta_text"><{$data['author']}></em>
    <!--<a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">风笑痴</a>-->
</div>
<div class="rich_media_thumb_wrp">
    <{$data['content']}>
</div>
</body>
</html>