<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>

<link href="<{$sys_config['exten_pub_path']}>plugin/ueditor/themes/default/css/ueditor.css" rel="stylesheet" type="text/css" />
<script src="<{$sys_config['exten_pub_path']}>plugin/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="<{$sys_config['exten_pub_path']}>plugin/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<script src="<{$sys_config['exten_pub_path']}>plugin/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript"></script>
       
<script type="text/javascript"> 
<!--
	$(function(){
		$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
		$("#handle_user").formValidator({onshow:"请选择处理人",onfocus:"处理人不能为空",empty:false}).inputValidator({min:1,onerror:"处理人不能为空"});
	});
	
	//实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    
    function decodeHTML(source){
		var str = String(source)
		.replace(/&quot;/g, '"')
		.replace(/&lt;/g, '<')
		.replace(/&gt;/g, '>')
		.replace(/&amp;/g, '&')
		.replace(/&#39;/g, "'");
		return str;
	}
	
	function encodeHTML(source){
		var str = String(source)
		.replace(/&/g, '&amp;')
		.replace(/</g, '&lt;')
		.replace(/>/g, '&gt;')
		.replace(/"/g, '&quot;')
		.replace(/'/g, '&#39;');
		return str;
	}
    
    
    function link_edit() {
        //var content = UE.getEditor('editor').getPlainTxt();
        var content = UE.getEditor('editor').getContent();
        console.log(content);
        content = encodeHTML(content);
        console.log(content);
        $("#bug_content").val(content);
    }
    

//-->
</script>

<div class="pad_10">
	<div class="common-form">
		<form name="myform" onsubmit="return link_edit();" action="<{site_url url='/bugtrack/bugtrack/bugtrack_add_do/'}>"  method="post" id="myform">
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td width="80">BUG标题</td>
					<td><input type="text" name="info[title]"  class="input-text wid300" value=""></td>
				</tr>
				<tr>
					<td width="80">BUG类型</td>
					<td>
						<label><input name="info[type]" type="radio" value="1" checked />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/android_32.png"  alt="android" /> </label>&nbsp;&nbsp;&nbsp;
						<label><input name="info[type]" type="radio" value="2" />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/ios_32.png"  alt="ios" /> </label>&nbsp;&nbsp;&nbsp;
						<label><input name="info[type]" type="radio" value="3" />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/server_32.png"  alt="server" /> </label>&nbsp;&nbsp;&nbsp;
						<label><input name="info[type]" type="radio" value="4" />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/fe_32.jpg"  alt="fe" /> </label>
					</td>
				</tr>
				<tr>
					<td>处理人</td>
					<td>
					    <{$handle_user_sel}>
					</td>
				</tr>
				<tr>
					<td>优先级</td>
					<td>
					    <{$priority_sel}>
					</td>
				</tr>
				<tr>
					<td>状态</td>
					<td>
					    <{$status_sel}>
					</td>
				</tr>
				<tr>
					<td width="80">BUG内容</td>
					<td>
						<div>
					    	<script id="editor" type="text/plain" style="width:600px;height:400px;"></script>
						</div>
					</td>
				</tr>
			</table>
		    <div class="bk15"></div>
		    <input type="hidden" id="bug_content" name="info[content]" />
		    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
		</form>
	</div>
</div>
<{include file="../common/footer.html"}>
