<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>

<link href="<{$sys_config['exten_pub_path']}>plugin/ueditor/themes/default/css/ueditor.css" rel="stylesheet" type="text/css" />
<script src="<{$sys_config['exten_pub_path']}>plugin/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="<{$sys_config['exten_pub_path']}>plugin/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<script src="<{$sys_config['exten_pub_path']}>plugin/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript"></script>
       
<script type="text/javascript"> 
<!--

	//实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
    
    function decodeHTML(source){
		var str = String(source)
		.replace(/&quot;/g, '"')
		.replace(/&lt;/g, '<')
		.replace(/&gt;/g, '>')
		.replace(/&amp;/g, '&')
		.replace(/&#39;/g, "'");
		return str;
	}
	
	function encodeHTML(source){
		var str = String(source)
		.replace(/&/g, '&amp;')
		.replace(/</g, '&lt;')
		.replace(/>/g, '&gt;')
		.replace(/"/g, '&quot;')
		.replace(/'/g, '&#39;');
		return str;
	}
    
    function link_edit() {
        var content = UE.getEditor('editor').getPlainTxt();
        content = encodeHTML(content);
        $("#bug_content").val(content);
    }
	
	function content_init() {
		//UE.getEditor('editor').setContent('欢迎使用ueditor', true);
		var content = $("#bug_content").val();
		UE.getEditor('editor').setContent(content, true);
	}
	
	var interval_timer = 1000; //1s
	var interval = setTimeout(function() {
        content_init();
    }, interval_timer);
	
	
//-->
</script>

<div class="pad_10">
	<div class="common-form">
		<form name="myform" onsubmit="return link_edit();" action="<{site_url url='/bugtrack/bugtrack/bugtrack_edit_do/'}>"  method="post" id="myform">
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td width="80">BUG标题</td>
					<td><input type="text" name="info[title]"  class="input-text wid300" value='<{$info["title"]}>'></td>
				</tr>
				<tr>
					<td width="80">BUG类型</td>
					<td>
						<label><input name="info[type]" type="radio" value="1" <{if $info["type"] == '1'}>checked<{/if}> />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/android_32.png"  alt="android" /> </label>&nbsp;&nbsp;&nbsp;
						<label><input name="info[type]" type="radio" value="2" <{if $info["type"] == '2'}>checked<{/if}> />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/ios_32.png"  alt="ios" /> </label>&nbsp;&nbsp;&nbsp;
						<label><input name="info[type]" type="radio" value="3" <{if $info["type"] == '3'}>checked<{/if}> />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/server_32.png"  alt="server" /> </label>&nbsp;&nbsp;&nbsp;
						<label><input name="info[type]" type="radio" value="4" <{if $info["type"] == '4'}>checked<{/if}> />&nbsp;<img src="<{$sys_config['exten_pub_path']}>images/bugtype/fe_32.jpg"  alt="fe" /> </label>
					</td>
				</tr>
				<tr>
					<td>处理人</td>
					<td>
					    <{$handle_user_sel}>
					</td>
				</tr>
				<tr>
					<td>优先级</td>
					<td>
					    <{$priority_sel}>
					</td>
				</tr>
				<tr>
					<td>状态</td>
					<td>
					    <{$status_sel}>
					</td>
				</tr>
				<tr>
					<td width="80">BUG内容</td>
					<td>
						<div>
					    	<script id="editor" type="text/plain" style="width:600px;height:400px;"></script>
						</div>
					</td>
				</tr>
				<tr>
					<td>处理历史</td>
					<td>
						<div class="table-list">
						<table width="100%" cellspacing="0">
					        <tbody>
					        	<{if $log_list }>
						    		<{foreach from=$log_list item=row}>
						    		<tr>
						    			<td align="right"><{$handle_user_list[$row['old_handle_user']]}></td>
						    			<td align="center">=></td>
						    			<td align="left"><{$handle_user_list[$row['new_handle_user']]}></td>
						    			<td align="center"><{$log_type_list[$row['type']]}></td>
						    			<td align="center"><{$row['ctime']|date_format:'%Y-%m-%d %H:%M:%S'}></td>
						    		</tr>
				            		<{/foreach}>
				            	<{else}>
				            		[无历史记录]
			            		<{/if}>
			            	</tdoby>
			            </table>
			            </div>
					</td>
				</tr>
			</table>
		    <div class="bk15"></div>
		    <input type="hidden" id="bug_content" name="info[content]" value="<{$info['content']}>"/>
		    <input type="hidden" value="<{$info['id']}>" name="id">
		    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
		</form>
	</div>
</div>
<{include file="../common/footer.html"}>
