<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
    <a class="add fb" href="javascript:window.top.art.dialog({id:'add',iframe:'<{site_url url='/admin/app/app_add/'}>?', title:'增加权限条目', width:'600', height:'350', lock:true}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});void(0);"><em>增加应用</em></a> <a href="<{site_url url='/admin/app/index/'}>" class="on"><em>应用列表</em></a>    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/admin/app/index/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">	
				<select name="search_field_id">
					<option value='1' <{if $search_arr['search_field_id']==1}>selected<{/if}>>应用名称</option>
					<option value='2' <{if $search_arr['search_field_id']==2}>selected<{/if}>>访问地址</option>
				</select>
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
				已上线 <input type="checkbox" value="1" name="line" <{if $search_arr['line']==1}>checked<{/if}>>
				<input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="1" name="show">
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="16"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="80">ID</th>
            <th>应用名称</th>
            <th width="200">英文标识</th>
            <th>访问地址</th>
            <th width="100">应用类型</th>
            <th width="100">应用状态</th>
            <th width="150">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>		
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['id']}>" type="checkbox"></td>
            <td width="80" align="center"><{$row['id']}></td>
            <td align="center"><{$row['title']}></td>
            <td align="center"><{$row['kind']}></td>
            <td align="center"><{$row['url']}></td>
            <td align="center"><{if $row['mobile']==1}>手机<{else}>web端<{/if}></td>
            <td align="center"><{if $row['line']==1}>上线<{else}>线下<{/if}></td>
            <td align="center"><a href="javascript:edit(<{$row['id']}>,'<{$row['title']}>')">修改</a> | 
            <{if $row['lock']==1}><font color="#cccccc">删除</font><{else}><a href="javascript:;" onclick="delete_one(this,'<{$row['id']}>')">删除</a><{/if}></td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="7">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
		<input type="button" class="button" value="删除" onclick="myform.action='<{site_url url='/admin/app/app_del/'}>';return delete_more()"/>
		<input type="button" class="button" value="上线" onclick="myform.action='<{site_url url='/admin/app/app_line/'}>';return change_more_line()"/>
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function delete_one(obj,aid){
	window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
	function(){
	$.get('<{site_url url='/admin/app/app_del_one_ajax/'}>?&app_id='+aid+'&wb_hash='+wb_hash,function(data){
				if(data == 1) $(obj).parent().parent().fadeOut("slow");
			})
		 },
	function(){});
};

function delete_more(){
	if(confirm('确认删除吗？')) $('#myform').submit();
}

function change_more_line(){
	if(confirm('确认对所选记录上线状态变更吗？')) $('#myform').submit();
}

function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑应用《'+name+'》',id:'edit',iframe:'<{site_url url='/admin/app/app_edit/'}>?app_id='+id,width:'600',height:'350'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
	
}
//-->
</script>
<{include file="../common/footer.html"}>