<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=7" http-equiv="X-UA-Compatible">
<title>系统信息</title>
<link type="text/css" rel="stylesheet" href="<{$sys_config['exten_pub_path']}>css/reset.css">
<link type="text/css" rel="stylesheet" href="<{$sys_config['exten_pub_path']}>css/zh-cn-system.css">
<link type="text/css" rel="stylesheet" href="<{$sys_config['exten_pub_path']}>css/table_form.css">
<link media="screen" title="styles1" href="<{$sys_config['exten_pub_path']}>css/style/zh-cn-styles1.css" type="text/css" rel="stylesheet">
<link media="screen" title="styles2" href="<{$sys_config['exten_pub_path']}>css/style/zh-cn-styles2.css" type="text/css" rel="alternate stylesheet">
<link media="screen" title="styles3" href="<{$sys_config['exten_pub_path']}>css/style/zh-cn-styles3.css" type="text/css" rel="alternate stylesheet">
<link media="screen" title="styles4" href="<{$sys_config['exten_pub_path']}>css/style/zh-cn-styles4.css" type="text/css" rel="alternate stylesheet">
<script src="<{$sys_config['exten_pub_path']}>js/jquery.min.js" type="text/javascript" language="javascript"></script>
<script src="<{$sys_config['exten_pub_path']}>js/admin_common.js" type="text/javascript" language="javascript"></script>
<script src="<{$sys_config['exten_pub_path']}>js/styleswitch.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">
	window.focus();
	var pc_hash = 'diTH2I';
	</script>
</head>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
<body>
<div id="main_frameid" class="pad-10" style="_margin-right:-12px;_width:98.9%;">
	
	<div class="explain-col mb10" style="display:none" id="browserVersionAlert">使用IE8浏览器可获得最佳视觉效果</div>
	<div class="col-2 lf mr10" style="width:100%">
		<h6>系统信息</h6>
		<div class="content">
		技术支持与服务 <br>
		<div class="bk20 hr"><hr></div>
		开发团队：佚名<br>
		程序版本：Tool K 1.0 Release 20150328<br>
		</div>
	</div>
	<div class="bk10"></div>

</div>
</body>
</html>