<{include file="../common/header.html"}>
<style type="text/css">
	html{_overflow-y:scroll}
</style>
<script src="<{$sys_config['exten_pub_path']}>js/uploadify/jquery.uploadify.min.js?ver=<{$random_version}>" type="text/javascript"></script>
<link href="<{$sys_config['exten_pub_path']}>js/swfupload/swfupload.css" rel="stylesheet" type="text/css" />
<link href="<{$sys_config['exten_pub_path']}>css/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	<!--
	$(function(){
		$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
//        $("#img_type").formValidator({onshow:"请选择图片类型",onfocus:"图片类型不能为空",empty:false}).inputValidator({min:1,onerror:"图片类型不能为空"});
		//城市多选
		$("#citys").change(function(){
			var ids = 'city_'+$(this).val();
			$("#city_list").append("<li id='"+ids+"' style='padding-left: 5px;'>"+$(this).find("option:selected").text()+"<span style='padding-left: 8px; width:14px; height:14px; cursor:pointer; ' onclick=\'_del(\""+ids+"\")\'><img src='<{$sys_config['exten_pub_path']}>images/error.gif' /></span></li><input type='hidden' name='citys[]' value="+$(this).val()+" /> ");
		});
		//学校多选
		$("#school").change(function(){
			var ids = 'school_'+$(this).val();
			$("#school_list").append("<li id='"+ids+"' style='padding-left: 5px;'>"+$(this).find("option:selected").text()+"<span style='padding-left: 8px; width:14px; height:14px; cursor:pointer; ' onclick=\'_del(\""+ids+"\")\'><img src='<{$sys_config['exten_pub_path']}>images/error.gif' /></span></li><input type='hidden' name='school[]' value="+$(this).val()+" />");
		});
	})
	//删除
	function _del(x)
	{$("#"+x).remove();}
	$(function() {
		$('#img').uploadify({
			//'formData'     : {
			//'room_id' : '<{$room_id}>',
			//},
			'fileObjName':'pic',
			'debug'    : false,
			'fileTypeExts':'*.jpg;*.png;*.gif',
			'fileSizeLimit':300,
			'sizeLimit':300,
			'width':'75',//选择文件按钮的宽度
			'height':'23',//选择文件按钮的高度
			'buttonText':'上传图片',
			'swf'      : '<{$sys_config['exten_pub_path']}>images/uploadify/uploadify.swf',
			'uploader' : '/common/upload/uploadify',
			onUploadError:function(file,errorCode,errorMsg){
				alert('上传错误：错误代码：'+obj2string(errorCode)+'错误消息：'+obj2string(errorMsg));
			},
			onUploadError:function(file, errorCode, errorMsg, errorString){
				alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
			},
			onUploadSuccess:function(file,r,response){
				eval("var obj="+r);
				console.log(obj.data.pic);
				if (response && obj.ret==1) {
					$("#fsUploadProgress").append('<li><input type="checkbox" name="pic[]" value="'+obj.data.pic+'" checked><img  width=90 src="'+obj.data.pic+'"/></li>');
				} else {
					alert(obj.msg);
				}
			}
		});
		$("#content").blur(function(){
			var len = getByteLen($(this).val());
			if(len > 40)
			{
				alert("内容长度不能大于40");
				$(this).attr('value',"");
				$(this).focus();
			}
		})
	});
	//-->
		function getByteLen(val) {
			var len = 0;
			for (var i = 0; i < val.length; i++) {
				if (val[i].match(/[^\x00-\xff]/ig) != null) //全角
					len += 2;
				else
					len += 1;
			}
			return len;
		}
</script>

<div class="pad_10">
	<div class="common-form">
		<form name="myform" action="<{site_url url='/push/push/push_edit_do/'}>" enctype="multipart/form-data"  method="post" id="myform">
			<input type="hidden" value="<{$info['id']}>" name="id">
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td>用户类型</td>
					<td>
						<{$img_type_sel}>
					</td>
				</tr>
				<tr>
					<td width="80"></td>
					<td><{$city_type_sel}> <div id="city_list" style="display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle; color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px"><{$info['citys_list']}></div></td>
				</tr>
				<tr>
					<td width="80"></td>
					<td><{$school_type_sel}> <div id="school_list" style="display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; vertical-align:middle; color:#444;line-height:18px;padding:2px 10px 2px 23px; margin-left:10px;_margin-left:5px"><{$info['school_list']}></div></td>
				</tr>
				<tr>
					<td width="80">标题</td>
					<td><input type="text" name="title"  class="input-text wid300" id="listorder" value="<{$info['title']}>"></td>
				</tr>
				<tr>
					<td width="80">内容</td>
					<td><input type="text" name="content"  class="input-text wid300" id="content" value="<{$info['content']}>"></td>
				</tr>
				<tr>
					<td width="80">推送分类</td>
					<td><{$type_sel}></td>
				</tr>
				<tr>
					<td width="80">帖子ID</td>
					<td><input type="text" name="tid"  class="input-text wid300" id="tid" value=""></td>
				</tr>
				<tr>
					<td width="80">选择平台</td>
					<td><{$plat_sel}></td>
				</tr>
				<tr>
					<td width="80">是否广播</td>
					<td><{$is_broadcast_sel}></td>
				</tr>
				<tr>
					<td width="80">url</td>
					<td><input type="text" name="wap_url"  class="input-text wid300" id="title" value="<{$info['wap_url']}>"></td>
				</tr>
				<tr>
					<td width="80">发送时间</td>
					<td>
						<link rel="stylesheet" type="text/css" href="<{$sys_config['exten_pub_path']}>js/calendar/jscal2.css"/>
						<link rel="stylesheet" type="text/css" href="<{$sys_config['exten_pub_path']}>js/calendar/border-radius.css"/>
						<link rel="stylesheet" type="text/css" href="<{$sys_config['exten_pub_path']}>js/calendar/win2k.css"/>
						<script type="text/javascript" src="<{$sys_config['exten_pub_path']}>js/calendar/calendar.js"></script>
						<script type="text/javascript" src="<{$sys_config['exten_pub_path']}>js/calendar/lang/en.js"></script><input type="text" name="push_time" id="push_time" value="<{$info['time_push']}>" size="21" class="date" readonly>&nbsp;<script type="text/javascript">
						Calendar.setup({
							weekNumbers: true,
							inputField : "push_time",
							trigger    : "push_time",
							dateFormat: "%Y-%m-%d %H:%M:%S",
							showTime: true,
							minuteStep: 1,
							onSelect   : function() {this.hide();}
						});
					</script>
					</td>
				</tr>
			</table>
			<div class="bk15"></div>
			<input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
		</form>
	</div>
</div>
<{include file="../common/footer.html"}>
