    /* CSS Reset
    /*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    width: 98%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    padding: 0 1%;
    font-size: 12px;
    margin: 0 auto;
    background-color: #fff;
}

.rich_media_title {
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e7e7eb;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
}
.rich_media_meta_list{  position: relative;
    z-index: 1;  margin-bottom: 18px;
    line-height: 20px;
    font-size: 0;}
.rich_media_meta_text {
    color: #8c8c8c;
}
.rich_media_meta {
    max-width: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    font-style:normal;
}
a {
    color: #607fa6;
    text-decoration: none;
    font-style:normal;
}
.rich_media_thumb_wrp{
    line-height: 24px;
    font-size: 16px;
    word-wrap: break-word;
    border-bottom: 1px solid #e7e7eb;
    padding-bottom: 20px;

}

.rich_media_thumb{  width: 100%;
    margin-bottom: 6px;}
.rich_media_thumb_wrp .list-paddingleft-2 {
    padding-left: 30px;
}
.rich_media_content * {
    max-width: 100%!important;
    box-sizing: border-box!important;
    -webkit-box-sizing: border-box!important;
    word-wrap: break-word!important;
}
