<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="<{site_url url='/phone/feedback/index/'}>" class="on"><em>反馈列表</em></a>    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/phone/feedback/index/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
            手机号审核通过时，会自动更新到通讯录中。
			    <!-- 关键词：	
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" /> (姓名、手机号)
				<input type="submit" name="search" class="button" value="搜索" /> -->
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="16"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="">ID</th>
            <th width="">通讯录ID</th>
            <th width="">反馈类型</th>
            <th>反馈内容</th>
            <th>内容审核</th>
            <th>反馈手机号</th>
            <th>手机审核</th>
            <th>用户</th>
            <th>添加时间</th>
            <th width="150">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>		
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['id']}>" type="checkbox"></td>
            <td align="center"><{$row['id']}></td>
            <td align="center"><{$row['phone_id']}></td>
            <td align="center"><{$feedback_type[$row['type']]}></td>
            <td align="center"><{$row['comment']}></td>
            <td align="center"><{if $row['status'] == 1}><font color="#008000">已通过</font><{elseif $row['status'] == 2}><font color="#D75145">未通过</font><{elseif $row['status'] == 0}>未审核<{/if}></td>
            <td align="center"><{$row['contact']}></td>
            <td align="center"><{if $row['contact_status'] == 1}><font color="#008000">已通过</font><{elseif $row['contact_status'] == 2}><font color="#D75145">未通过</font><{elseif $row['contact_status'] == 0}>未审核<{/if}></td>
			<td align="center"><{get_username($row['uid'])}>(<{$row['uid']}>)</td>
            <td align="center"><{date("Y-m-d H:i:s", $row['time_create'])}></td>
            <td align="center">
                <a href="javascript:edit(<{$row['id']}>,'<{$row['name']}>')">修改</a> | 
                <{if $row['status']==1}><font color="#cccccc">删除</font><{else}><a href="javascript:;" onclick="delete_one(this,'<{$row['id']}>')">删除</a><{/if}>
            </td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="10">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
        <input type="button" class="button" value="内容审核未通过" onclick="myform.action='<{site_url url='/phone/feedback/feedback_status/?status=2'}>';myform.submit();"/>
        <input type="button" class="button" value="内容审核已通过" onclick="myform.action='<{site_url url='/phone/feedback/feedback_status/?status=1'}>';myform.submit();"/>
        <input type="button" class="button" value="手机号审核未通过" onclick="myform.action='<{site_url url='/phone/feedback/feedback_contact_status/?contact_status=2'}>';myform.submit();"/>
		<input type="button" class="button" value="手机号审核通过" onclick="myform.action='<{site_url url='/phone/feedback/feedback_contact_status/?contact_status=1'}>';myform.submit();"/>
		<input type="button" class="button" value="删除" onclick="myform.action='<{site_url url='/phone/feedback/feedback_del/'}>';myform.submit();"/>
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function delete_one(obj,aid){
	window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
	function(){
	$.get('<{site_url url='/phone/feedback/feedback_del_one_ajax/'}>?&id='+aid+'&wb_hash='+wb_hash,function(data){
				if(data == 1) $(obj).parent().parent().fadeOut("slow");
			})
		 },
	function(){});
};

function delete_more(){
	if(confirm('确认删除吗？')) $('#myform').submit();
}

function delete_more_like(){
	if(confirm('确认对所选记录删除吗？')) $('#myform').submit();
}

function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑反馈内容《'+name+'》',id:'edit',iframe:'<{site_url url='/phone/feedback/feedback_edit/'}>?id='+id,width:'600',height:'350'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
	
}
//-->
</script>
<{include file="../common/footer.html"}>
