<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href="<{site_url url='/member/safe/logs/'}>" class="on"><em>日志列表</em></a>    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/member/safe/logs/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
				
            用户名：
            <input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
            <input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="16"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="80">ID</th>
            <th width="80">用户id</th>
            <th width="80">用户名</th>
            <th width="100">状态</th>
            <th width="150">IP</th>
            <th width="100">登录天数</th>
            <th width="180">登陆时间</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>		
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['id']}>" type="checkbox"></td>
            <td align="center"><{$row['id']}></td>
            <td align="center"><{get_username($row['uid'])}></td>
            <td align="center"><{$row['uname']}></td>
            <td align="center"><{if $row['result']==1}><font color="#008000">登录成功</font><{else}><font color="#D75145">登录失败</font><{/if}></td>
            <td align="center"><{$row['ip']}></td>
            <td align="center"><{$row['login_yday']}></td>
            <td align="center"><{if $row['login_time']>0}> <{date('Y-m-d H:i:s',$row['login_time'])}> <{else}>时间不详<{/if}></td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="10">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
		<input type="button" class="button" value="删除" onclick="myform.action='<{site_url url='/member/user/user_del/'}>';return delete_more()"/>
		<input type="button" class="button" value="锁定" onclick="myform.action='<{site_url url='/member/user/user_change_lock/'}>';myform.submit();"/>
		<input type="button" class="button" value="禁用" onclick="myform.action='<{site_url url='/member/user/user_change_status/'}>';myform.submit();"/>
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function delete_one(obj,aid){
	window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
	function(){
	$.get('<{site_url url='/member/user/user_del_one_ajax/'}>?&uid='+aid+'&wb_hash='+wb_hash,function(data){
				if(data == 1) $(obj).parent().parent().fadeOut("slow");
			})
		 },
	function(){});
};

function delete_more(){
	if(confirm('确认删除吗？')) $('#myform').submit();
}

function delete_more_like(){
	if(confirm('确认对所选记录伪删除变更吗？')) $('#myform').submit();
}

function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑用户《'+name+'》',id:'edit',iframe:'<{site_url url='/member/user/user_edit/'}>?uid='+id,width:'600',height:'350'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
	
}
//-->
</script>
<{include file="../common/footer.html"}>
