<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<script type="text/javascript"> 
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#uname").formValidator({onshow:"请输入用户名",onfocus:"必须在6-20个字符之间"}).inputValidator({min:6,max:20,onerror:"姓名必须在6-20个字符之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/member/user/check_filed_have_ajax/'}>",
		data :"field=uname&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "用户名重复",
		onwait : "请稍后..."
	}).defaultPassed();
	$("#sname").formValidator({onshow:"请用户昵称",onfocus:"用户昵称需要在6-20个字符之间"}).inputValidator({min:6,max:20,onerror:"昵称需要在6-20个字符之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/member/user/check_filed_have_ajax/'}>",
		data :"field=sname&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "昵称重复",
		onwait : "请稍后..."
	}).defaultPassed();
})
//-->
</script>

<div class="pad_10">
<div class="common-form">
	<table width="100%" class="table_form contentWrap">
		<tr>
			<td>公司名</td> 
			<td><input type="text" name="info[cmpy_name]" disabled class="input-text" id="cmpy_name" value="<{$info['cmpy_name']}>"></td>
		</tr>
		<tr>
			<td>手机号</td> 
			<td><input type="text" name="info[phone]" disabled class="input-text" id="phone" value="<{$info['phone']}>" ></td>
		</tr>
		<tr>
			<td>微信号</td> 
			<td><input type="text" name="info[wx_name]" disabled  class="input-text" id="wx_name" value="<{$info['wx_name']}>"></td>
		</tr>
		<tr>
			<td>微信昵称</td> 
			<td><input type="text" name="info[nick_name]" disabled class="input-text" id="nick_name" value="<{$info['nick_name']}>"></td>
		</tr>
		<tr>
			<td>帐号等级</td> 
			<td><input type="text" name="info[level]" disabled class="input-text" id="level" value="<{$info['level']}>" ></td>
		</tr>
		<tr>
			<td>文章标题</td> 
			<td><input type="text" name="info[title]" disabled class="input-text" id="title" value="<{$info['title']}>" ></td>
		</tr>
		<tr>
			<td>文章作者</td> 
			<td><input type="text" name="info[author]" disabled class="input-text" id="author" value="<{$info['author']}>" ></td>
		</tr>
		<tr>
			<td>文章正文</td> 
			<td><input type="text" name="info[content]" disabled class="input-text" id="content" value="<{$info['content']}>" ></td>
		</tr>
		<tr>
			<td>封面地址</td> 
			<td><input type="text" name="info[url]" disabled class="input-text" id="url" value="<{$info['url']}>" ></td>
		</tr>
		<tr>
			<td>摘要</td>
			<td><input type="text" name="info[abstract]" disabled class="input-text" id="abstract" value="<{$info['abstract']}>" ></td>
		</tr>
		<tr>
			<td>原文链接</td>
			<td><input type="text" name="info[original_link]" disabled class="input-text" id="original_link" value="<{$info['original_link']}>" ></td>
		</tr>
		<tr>
			<td>分类</td>
			<td><input type="text" name="info[category]" disabled class="input-text" id="category" value="<{$info['category']}>" ></td>
		</tr>
		<tr>
			<td>投放时间</td>
			<td><{$input_box['show_day']}></td>
		</tr>
		<tr>
			<td>投放位置</td>
			<td><input type="text" name="info[ad_location]" disabled class="input-text" id="ad_location" value="<{$info['ad_location']}>" ></td>
		</tr>
		<tr>
			<td>投放备注</td>
			<td><input type="text" name="info[remark]" disabled class="input-text" id="remark" value="<{$info['remark']}>" ></td>
		</tr>
	
	</table>
    <div class="bk15"></div>
</div>
</div>
<{include file="../common/footer.html"}>
