<{include file="../common/header.html"}>
<script src="<{$sys_config['exten_pub_path']}>js/uploadify/jquery.uploadify.min.js?ver=<{$random_version}>" type="text/javascript"></script>
<link href="<{$sys_config['exten_pub_path']}>js/swfupload/swfupload.css" rel="stylesheet" type="text/css" />
<link href="<{$sys_config['exten_pub_path']}>css/uploadify.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    html{_overflow-y:scroll}
    .common-form>li{ float:left;display:inline; }
</style>
<script type="text/javascript"> 
<!--
	$(function() {
        $('#img').uploadify({
            //'formData'     : {
                //'room_id' : '<{$room_id}>',
            //},
            'fileObjName':'pic',
            'debug'    : false,
            'fileTypeExts':'*.jpg;*.JPG;*.png;*.PNG;*.gif;*.GIF',
            'fileSizeLimit':300, 
            'sizeLimit':300, 
            'width':'75',//选择文件按钮的宽度
            'height':'23',//选择文件按钮的高度
            'buttonText':'上传图片',
            'swf'      : '<{$sys_config['exten_pub_path']}>images/uploadify/uploadify.swf',
            'uploader' : '/common/upload/uploadify',
            onUploadError:function(file,errorCode,errorMsg){
                alert('上传错误：错误代码：'+obj2string(errorCode)+'错误消息：'+obj2string(errorMsg));
            },
			onUploadError:function(file, errorCode, errorMsg, errorString){
				alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
			},
            onUploadSuccess:function(file,r,response){
				eval("var obj="+r);
                console.log(obj.data.pic);
				if (response && obj.ret==1) {
                $("#fsUploadProgress").append('<li><input type="checkbox" name="pic[]" value="'+obj.data.pic+'" checked><img  width=90 src="'+obj.data.pic+'"/></li>');  
				} else {
					alert(obj.msg);
				}
            }
        });
    });
    
    
//-->
</script>

<div class="pad_10">
	<div class="common-form">
		<form name="myform" action="<{site_url url='/product/banner/banner_edit_do/'}>" enctype="multipart/form-data"  method="post" id="myform">
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td width="80">描述信息</td>
					<td><input type="text" name="info[description]"  class="input-text wid300" id="description" value="<{$banner_info['description']}>"></td>
				</tr>
				<tr>
					<td width="80">上传图片</td>
					<td><input type="file" name="img" id="img"></td>
				</tr>
				<tr>
					<td width="80">图片</td>
					<td>
					<div class="bk10"></div>
					<fieldset class="blue pad-10" id="swfupload">
						<legend>列表</legend>
						<ul class="attachment-list"  id="fsUploadProgress">    
					    <{if $banner_info['url']}>
					    <li><input type="checkbox" name="pic[]" value="<{$banner_info['url']}>" checked><img  width=90 src="<{$banner_info['url']}>"/></li>
					    <{/if}>
						</ul>
					</fieldset>
					</td>
				</tr>
			</table>
		    <div class="bk15"></div>
		    <input type="hidden" value="<{$banner_info['bid']}>" name="cfg[bid]">
		    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
		</form>
	</div>
</div>
<{include file="../common/footer.html"}>
