<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a class="add fb" href="javascript:window.top.art.dialog({id:'add',iframe:'<{site_url url='/product/banner/banner_add/'}>?', title:'新建banner', width:'600', height:'350', lock:true}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});void(0);"><em>新建banner</em></a>
        <a href="<{site_url url='/product/banner/index/'}>" class="on"><em>banner列表</em></a>    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/product/banner/index/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
			    关键词：	
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
				<input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="10"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="30">bannerid</th>
            <th width="120">图片地址</th>
            <th width="120">描述</th>
            <th width="50">排名</th>
            <th width="120">发布时间</th>
            <th width="120">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['bid']}>" type="checkbox"></td>
            <td align="center"><{$row['bid']}></td>
            <td align="center"><a target="_blank" href="<{$row['url']}>" ><{if $row['url']}><{$row['url']}><{else}>[无图片]<{/if}></a></td>
            <td align="center"><{$row['description']}></td>
            <td align="center"><{$row['rank']}></td>
            <td align="center"><{date("Y-m-d H:i:s", $row['ctime'])}></td>
            <td align="center">
			    <a href="javascript:edit(<{$row['bid']}>,'<{$row['bid']}>')">编辑</a> | 
			    <a href="javascript:;" onclick="top_one(this,'<{$row['bid']}>')">置顶</a> | 
			    <a href="javascript:;" onclick="delete_one(this,'<{$row['bid']}>')">删除</a>
            </td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="7">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function delete_one(obj,aid) {
    window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/product/banner/banner_del_one_ajax/'}>?&bid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) $(obj).parent().parent().fadeOut("slow");
            })
         },
    function(){});
}

function top_one(obj,aid) {
    window.top.art.dialog({content:'确认执行此操作吗？', fixed:true, style:'confirm',id:'top_one'}, 
    function(){
    $.get('<{site_url url='/product/banner/banner_top_one_ajax/'}>?&bid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data > 0) {
                	$(obj).parent().parent().children().eq(4).html(data);
                }
            })
         },
    function(){});
}


function delete_more_like(){
	if(confirm('确认对所选记录伪删除变更吗？')) $('#myform').submit();
}


function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑banner信息《'+name+'》',id:'edit',iframe:'<{site_url url='/product/banner/banner_edit/'}>?id='+id,width:'650',height:'400'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
}
//-->
</script>
<{include file="../common/footer.html"}>
