<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<script type="text/javascript"> 
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#uname").formValidator({onshow:"请输入用户名",onfocus:"必须在6-20个字符之间"}).inputValidator({min:6,max:20,onerror:"姓名必须在6-20个字符之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/member/user/check_filed_have_ajax/'}>",
		data :"field=uname&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "用户名重复",
		onwait : "请稍后..."
	}).defaultPassed();
	$("#sname").formValidator({onshow:"请用户昵称",onfocus:"用户昵称需要在6-20个字符之间"}).inputValidator({min:6,max:20,onerror:"昵称需要在6-20个字符之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/member/user/check_filed_have_ajax/'}>",
		data :"field=sname&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "昵称重复",
		onwait : "请稍后..."
	}).defaultPassed();
})
//-->
</script>

<div class="pad_10">
<div class="common-form">
<form name="myform" enctype="multipart/form-data" action="<{site_url url='/product/drawback/drawback_edit_do/'}>" method="post" id="myform">
	<table width="100%" class="table_form contentWrap">
		<tr>
			<td>退款金额</td>
			<td><input type="text" name="info[drawback_price]"  class="input-text wid300" id="drawback_price" value="<{$drawback_info['drawback_price']}>"></td>
		</tr>
		<tr>
			<td>退款时间</td>
			<td><{$input_box['drawback_time']}></td>
		</tr>
		<tr>
			<td>退款状态</td>
			<td><{$input_box['status_sel']}></td>
		</tr>
		<tr>
			<td>退款原因</td>
			<td><input type="text" name="info[reason]"  class="input-text wid300" id="reason" value="<{$drawback_info['reason']}>"></td>
		</tr>
	</table>
    <div class="bk15"></div>
    <input type="hidden" value="<{$drawback_info['dbid']}>" name="cfg[dbid]">
    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
</form>
</div>
</div>
<{include file="../common/footer.html"}>
