<{include file="../common/header.html"}>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<script type="text/javascript"> 
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#uname").formValidator({onshow:"请输入用户名",onfocus:"必须在6-20个字符之间"}).inputValidator({min:6,max:20,onerror:"姓名必须在6-20个字符之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/member/user/check_filed_have_ajax/'}>",
		data :"field=uname&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "用户名重复",
		onwait : "请稍后..."
	}).defaultPassed();
	$("#sname").formValidator({onshow:"请用户昵称",onfocus:"用户昵称需要在6-20个字符之间"}).inputValidator({min:6,max:20,onerror:"昵称需要在6-20个字符之间"}).ajaxValidator({
		type : "get",
		url : "<{site_url url='/member/user/check_filed_have_ajax/'}>",
		data :"field=sname&tb=A&id=<{$info['id']}>",
		datatype : "html",
		async:'false',
		success : function(data){
			if( data == "1" ){
				return true;
			}else{
				return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "昵称重复",
		onwait : "请稍后..."
	}).defaultPassed();
})
//-->
</script>

<div class="pad_10">
<div class="common-form">
<form name="myform" enctype="multipart/form-data" action="<{site_url url='/product/order/order_edit_do/'}>" method="post" id="myform">
	<table width="100%" class="table_form contentWrap">
		<tr>
			<td>订单ID</td>
			<td><input type="text" name="info[olid]" disabled class="input-text" id="olid" value="<{$order_info['olid']}>" ></td>
		</tr>
		<tr>
			<td>广告主ID</td>
			<td><input type="text" name="info[ad_uid]" disabled class="input-text" id="ad_uid" value="<{$order_info['ad_uid']}>" ></td>
		</tr>
		<tr>
			<td>媒体主ID</td>
			<td><input type="text" name="info[news_uid]" disabled class="input-text" id="news_uid" value="<{$order_info['news_uid']}>" ></td>
		</tr>
		
		<tr>
			<td>订单状态</td>
			<td><input type="text" name="info[status]" disabled class="input-text" id="status" value="<{$order_status_list[$order_info['status']]}>" ></td>
		</tr>
		<tr>
			<td>广告主付款状态</td>
			<td><input type="text" name="info[pay_status]" disabled class="input-text" id="pay_status" value="<{$pay_status_list[$order_info['pay_status']]}>" ></td>
		</tr>
		<tr>
			<td>平台付款状态</td>
			<td><input type="text" name="info[plat_payed]" disabled class="input-text" id="plat_payed" value="<{$plat_payed_list[$order_info['plat_payed']]}>" ></td>
		</tr>
		<tr>
			<td>原价（元）</td>
			<td><input type="text" name="info[original_price]" disabled class="input-text" id="original_price" value="<{$order_info['original_price']}>" ></td>
		</tr>
		<tr>
			<td>实际交易金额(含税)（元）</td>
			<td><input type="text" name="info[total_price]" disabled class="input-text" id="total_price" value="<{$order_info['total_price']}>" ></td>
		</tr>
		<tr>
			<td>广告价（分）</td>
			<td><input type="text" name="info[ad_price]" class="input-text" id="ad_price" value="<{$order_info['ad_price']}>" ></td>
		</tr>
	
	</table>
    <div class="bk15"></div>
    <input type="hidden" value="<{$order_info['olid']}>" name="cfg[olid]">
    <input type="submit" class="dialog" id="dosubmit" name="dosubmit" value="提交"/>
</form>
</div>
</div>
<{include file="../common/footer.html"}>
