<{include file="../common/header.html"}>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <!-- <a class="add fb" href="javascript:window.top.art.dialog({id:'add',iframe:'<{site_url url='/member/user/user_add/'}>?', title:'添加会员', width:'600', height:'350', lock:true}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});void(0);"><em>添加会员</em></a>  -->
        <a href="<{site_url url='/product/order/index/'}>" class="on"><em>订单列表</em></a>    </div>
</div>
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div class="pad_10">
<div id="searchid">
<form name="searchform" action="<{site_url url='/product/order/index/'}>" method="get" >
<table width="100%" cellspacing="0" class="search-form">
    <tbody>
		<tr>
		<td>
		<div class="explain-col">
				<{$search_arr['order_status_sel']}>
				<{$search_arr['pay_status_sel']}>
				<{$search_arr['plat_payed_sel']}>
			    手机号：	
				<input name="phone" type="text" value="<{$search_arr['phone']}>" class="input-text" />
				广告标题：	
				<input name="title" type="text" value="<{$search_arr['title']}>" class="input-text" />
				<!-- 
			    关键词：	
				<input name="keywords" type="text" value="<{$search_arr['keywords']}>" class="input-text" />
				 -->
				<input type="submit" name="search" class="button" value="搜索" />
		</div>
		</td>
		</tr>
    </tbody>
</table>
<input type="hidden" value="ok" name="dosearch">
<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
</form>
</div>

<form name="myform" id="myform" action="" method="post" >

<div class="table-list">
	<table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="10"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="30">订单id</th>
            <th width="30">广告id</th>
            <th width="40">广告名称</th>
            <th width="40">公众帐号</th>
            <th width="40">实际交易金额(含税)</th>
            <th width="40">广告主付款状态</th>
            <th width="40">广告主实付金额(含税)</th>
            <th width="40">是否已垫付</th>
            <th width="40">平台实付金额(含税)</th>
            <th width="40">订单状态</th>
            <th width="80">更新时间</th>
            <th width="180">管理操作</th>
            </tr>
        </thead>
        
        <tbody>
        	<{foreach from=$list_data item=row}>
            <tr>
            <td align="center"><input class="inputcheckbox " name="ids[]" value="<{$row['olid']}>" type="checkbox"></td>
            <td align="center"><{$row['olid']}></td>
            <td align="center"><{$row['article_id']}></td>
            <td align="center"><{$row['article_title']}></td>
            <td align="center"><{$row['ofc_nick_name']}></td>
            <td align="center"><{$row['total_price']}></td>
            <td align="center"><{$pay_status_list[$row['pay_status']]}></td>
            <td align="center"><{$row['total_price']}></td>
            <td align="center"><{$plat_payed_list[$row['plat_payed']]}></td>
            <td align="center"><{$row['total_price']}></td>
            <td align="center"><{$order_status_list[$row['status']]}></td>
            <td align="center"><{date("Y-m-d H:i:s", $row['utime'])}></td>
            <!-- 
            <td align="center"><{if $row['ukind']==1}><font color="#D75145">是</font><{else}><font color="#008000">否</font><{/if}></td>
			<td align="center" id="user_status"><{if $row['status'] == 1}><font color="#008000">已通过</font><{elseif $row['status'] == 2}><font color="#D75145">未通过</font><{elseif $row['status'] == 0}>未审核<{elseif $row['status'] == -1}>已删除<{/if}></td>
			<td align="center"><{if $row['ukind_verify'] == 1}><span style="color:green"></span><{else}><span style="color:red">未认证</span><{/if}></td>
             -->
            <td align="center">
			    <a href="javascript:view(<{$row['olid']}>,'<{$row['olid']}>')">查看</a> | 
			    <a href="javascript:edit(<{$row['olid']}>,'<{$row['olid']}>')">修改</a> | 
			    <a href="javascript:;" onclick="advance_one(this,'<{$row['olid']}>')">平台垫付</a> | 
			    <a href="javascript:pay(<{$row['olid']}>,'<{$row['olid']}>')">打款</a> | 
			    <a href="javascript:;" onclick="cancel_one(this,'<{$row['olid']}>')">取消</a> | 
			    <a href="javascript:add(<{$row['olid']}>,'<{$row['olid']}>')">退款</a>
            </td>
            </tr>
            <{foreachelse}>
			<tr>
            <td colspan="11">没有数据</td>
            </tr>
            <{/foreach}>
    	</tbody>
    </table>
    <div class="btn">
    	<label for="check_box">全选/取消</label>
		<input type="hidden" value="<{$admin_session['wb_hash']}>" name="wb_hash">
		<input type="hidden" value="1" name="dosubmit">
	</div>
    <div id="pages"><{$pages}></div>
</div>
</form>
</div>
<script type="text/javascript"> 
<!--

function del_one(obj,aid) {
    window.top.art.dialog({content:'确认删除吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/member/user/user_del_one_ajax/'}>?&uid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) $(obj).parent().parent().fadeOut("slow");
            })
         },
    function(){});
}

function advance_one(obj,aid) {
    window.top.art.dialog({content:'确认由平台垫付吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/product/order/order_advance_one_ajax/'}>?&olid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) {
                	$(obj).parent().parent().children().eq(8).html("已垫付");
                } else {
	                alert("未付款的正常订单才能垫付");
                }
            })
         },
    function(){});
}

function pay_one(obj,aid) {
    window.top.art.dialog({content:'确认要向媒体主打款吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/product/order/order_pay_one_ajax/'}>?&olid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) {
                	$(obj).parent().parent().children().eq(10).html("媒体主执行完成");
                }
            })
         },
    function(){});
}

function cancel_one(obj,aid) {
    window.top.art.dialog({content:'确认要执行取消操作吗？', fixed:true, style:'confirm',id:'delete_one'}, 
    function(){
    $.get('<{site_url url='/product/order/order_cancel_one_ajax/'}>?&olid='+aid+'&wb_hash='+wb_hash,function(data){
                if(data == 1) {
                	$(obj).parent().parent().children().eq(10).html("订单取消");
                }
            })
         },
    function(){});
}

function delete_more(){
	if(confirm('确认删除吗？')) {
		myform.action='<{site_url url='/member/user/user_delete/'}>';
		$('#myform').submit();
	}
}

function delete_more_like(){
	if(confirm('确认对所选记录伪删除变更吗？')) $('#myform').submit();
}


function edit(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'编辑订单《'+name+'》',id:'edit',iframe:'<{site_url url='/product/order/order_edit/'}>?id='+id,width:'800',height:'600'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
}
function view(id, name) {
    window.top.art.dialog({id:'view'}).close();
    window.top.art.dialog({title:'查看订单《'+name+'》',id:'view',iframe:'<{site_url url='/product/order/order_view/'}>?id='+id,width:'650',height:'400',cancelVal:'关闭',cancel:true}); 
}


function add(id, name) {
	window.top.art.dialog({id:'add'}).close();
	window.top.art.dialog({title:'添加退款信息',id:'add',iframe:'<{site_url url='/product/drawback/drawback_add/'}>?id='+id,width:'650',height:'400'}, function(){var d = window.top.art.dialog({id:'add'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'add'}).close()});
}

function pay(id, name) {
	window.top.art.dialog({id:'edit'}).close();
	window.top.art.dialog({title:'给媒体主打款',id:'edit',iframe:'<{site_url url='/product/order/order_pay/'}>?id='+id,width:'650',height:'400'}, function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;d.document.getElementById('dosubmit').click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
}


//-->
</script>
<{include file="../common/footer.html"}>
